<h1 class="animated fadeIn fast">
  Sobre ComicApp!
</h1>
<hr>
<p class="animated fadeIn fast">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque repudiandae cum reprehenderit similique pariatur! In omnis tenetur doloribus, odit similique doloremque provident accusamus repudiandae, corporis nihil hic? Aspernatur, non optio.
Deleniti quo optio id porro vero nesciunt officiis ea officia dolor consectetur nobis, ducimus perferendis. Enim laudantium voluptatum voluptas non aperiam illo dolore incidunt odit tempora, qui cum reprehenderit facilis?
Quod saepe eveniet reprehenderit minima expedita ullam aspernatur deserunt sequi ipsam provident alias, veniam amet commodi quibusdam, a eum beatae porro sint iure fuga. At neque sit voluptates tempora labore!
Cum animi quisquam nulla sunt porro ad eum voluptatibus tempore fuga minus! Doloribus sequi dicta similique nemo ut excepturi temporibus a consectetur vel earum deserunt consequatur, omnis provident voluptates incidunt.
Accusantium quisquam earum cupiditate accusamus, illo repudiandae. Incidunt necessitatibus voluptates excepturi deleniti doloribus veritatis at assumenda eveniet architecto voluptate illo vero optio aperiam pariatur, repellat repudiandae. Delectus illo laudantium ex?
Facilis, magni vel. Quos iste itaque voluptates sed, iure culpa ut corporis quibusdam animi reprehenderit tempore molestiae doloribus amet. Illum, laborum! Quas vero unde nisi sint officiis ab sed voluptatum?
Accusantium odio obcaecati quod fuga, itaque tenetur nam sequi consectetur laudantium corrupti assumenda facere? Ipsam doloribus modi, at molestias perferendis odio? Nisi, inventore. Reprehenderit voluptatem quis quae nulla asperiores laboriosam.
Nostrum, a eius! Dolor esse velit iusto ex. Nihil doloremque tenetur dolorum qui nemo facere sint debitis tempore adipisci neque itaque ea aut, sapiente quo repudiandae, pariatur repellat illum suscipit.
</p>